body {
    margin:0;
    padding: 0;
    overflow-y: auto;
}

.clsPort {
    width:50px;
}

div.ruleContainer {
}

.appMain {
    margin:24px;
}

.ruleDiv {
    border: 1px solid black;
    margin-left:24px;
}

.appicon {
    width:32px;
    height:32px;
    margin-right:8px;
}
